<app-navigation></app-navigation>
<div class="home container-fluid">
  <div class="overlay">
    <section class="her-wrap js-fullheight " data-section="home" data-stellar-background-ratio="0.5">
      <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-start"
          data-scrollax-parent="true">
          <div class="content col-md-6">
            <div class="subh">
              <span class="subheading">Revolutionizing Healthcare with Secure Solutions</span>
              <h1 class="mb-4">Welcome to <span style="color: rgb(200, 126, 193);">MedBlockAI</span></h1>
              <figure class="text-start">
                <blockquote class="blockquote">
                  <p><span style="color: rgb(200, 126, 193);"><strong>MedBlockAI</strong></span> : AI & Blockchain-Based E-Healthcare Management System</p>
                </blockquote>
                
              </figure>
              <p class="mb-4">Experience the future of healthcare with MedBlockAI. Our platform seamlessly integrates blockchain technology and artificial intelligence to provide persnolised analytics and innovative solutions for patient care. Join us in shaping the future of healthcare today.</p>
              <p><a [routerLink]="['appointment']" class="btn btn-black py-3 px-4 rounded-pill">Schedule an Appointment</a></p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
